<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="Styles/style.css">
    <title>Cars</title>
</head>
<body>
    <div></div>
    <div class="centered">
        <!-- Div with all cars-->
        <div th:if="${cars.empty}">
            <p>No cars aviable now</p>
        </div>
        <div class="card-group">
            <div th:each="car: ${cars}">
                <!-- Card -->
                <div class="card mx-auto" style="min-width: 300px; max-width: 440px; min-height: 400px;">
                    <!--<img src="">-->
                    <div class="card-body">
                        <h4 th:text="${car.name} + ${car.model}" class="card-title"></h4>
                        <p th:if="${car.short_description}">
                            <span th:text="${car.short_description}" class="card-text"></span>
                        </p>
                        <p class="card-text"><small class="text-muted"><span th:text="${car.production_year}"></span></small></p>
                        <p class="card-text"><small class="text-muted"><span th:text="${car.mileage}"></span></small></p>
                        <p class="card-text"><small class="text-muted"><span th:text="${car.engine_capacity}"></span></small></p>
                        <p class="card-text"><small class="text-muted"><span th:text="${car.fuel_type}"></span></small></p>
                        <p class="card-text"><small class="text-muted"><span th:text="${car.localization}"></span></small></p>
                        <p class="card-text"><small class="text-muted"><span th:text="${car.price}" class="text-danger fw-bold"></span></small></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>