a{
    cursor:pointer;
}
.centered{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spacer{
    margin: 200px auto 300px auto;
}

.morespace{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
}